<div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-4"><i>Consulta de usuario por ID: {{usuario?.id}}</i></h1>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{usuario?.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{usuario?.email}}</h6>
        <p class="card-text">{{usuario?.gender}}</p>
        <button class="btn btn-primary" (click)="volverAListarUsuarios()">Volver a listar usuarios</button>
      </div>
    </div>
</div>
